---
layout: base
---

{% include header.html type="page" %}

<input type="hidden" id="pdf-name" value="/assets/resume/PublicResume.pdf" />
<div class="container-md" role="main" id="pdf-canvas">
</div>

<style>
  #pdf-canvas
  {
    background-image: url(/assets/img/loading.gif) center no-repeat;
    width: '900px';
    height: '900px';
  }
</style>

<script>
    const maxCount = 5;
    var maxRetryCount = maxCount;
    var loaded = false;
    var mutex = 1;

    function GetLock(semaphore)
    {
        var orig = semaphore;
        if(orig <= 0)
        {
            setTimeout(GetLock, 100);
        }
        else
        {
            semaphore--;
            if(Math.abs(orig - semaphore) > 1)
            {
                setTimeout(GetLock, 100);
            }
            else
            {
                return;
            }
        }
    }

    function ReleaseLock(semaphore)
    {
        semaphore = 1;
    }
    
    function checkIfLoaded(iframeEle)
    {
        try
        {
            if(iframeEle.contentWindow == null)
            {
                return false;
            }
            var v = iframeEle.contentWindow.document === null;
            return false;
        }
        catch (e)
        {
            return true;
        }
    }

    function reloadIFrame(ele) 
    {
        if(checkIfLoaded(ele))
        {
            onLoadIF(ele);
            return;
        }
        var relUrl = document.getElementById("pdf-name").value;
        var assetUrl = `https://amit9oct.github.io${relUrl}`;
        var googleUrl = `https://docs.google.com/gview?embedded=true&url=${assetUrl}`;
        GetLock(mutex);
        if(maxRetryCount > 0 && !loaded)
        {
            ele.src = googleUrl;
            if(maxRetryCount == maxCount)
            {
                canvas.appendChild(ele);
            }
            setTimeout(() => reloadIFrame(ele), 2500);
        }
        else
        {
            ele.style.width = '900px';
            ele.style.height = '900px';
            ele.src = assetUrl;
            ele.innerHTML = `Pdf plugin unsupported for this browser click <a href='${assetUrl}'>here</a> to see the PDF.`;
            console.log("Couldn't load giving up!");
            onLoadIF(ele);    
        }
        maxRetryCount--;
        ReleaseLock(mutex);
    }

    function onLoadIF(ele)
    {
        GetLock(mutex);
        maxRetryCount = 0;
        loaded = true;
        canvas.style.backgroundImage = 'none';            
        console.log("Finally Loaded");
        ReleaseLock(mutex);
    }
    var canvas = document.getElementById("pdf-canvas");
    var ele = document.createElement("iframe");
    ele.id = "pdf-frame";
    ele.style.width = '900px';
    ele.style.height = '900px';
    ele.style.cursor = 'hand';
    canvas.style.width = '900px';
    canvas.style.height = '900px';
    setTimeout(function(){}, 1000);         
    setTimeout(() => reloadIFrame(ele), 2500);
</script>