---
layout: base
---

{% include header.html type="page" %}


<div class="container-md" role="main">
    <div class="row">
      <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
        <div>
          <object data='/assets/resume/resume.pdf' type="application/pdf" width="50%" height="100%">
            <iframe src='/assets/resume/resume.pdf' width="50%" height="100%">
              <p>This browser does not support PDF!</p>
            </iframe>
          </object>
        </div>        
      </div>
    </div>
  </div>