---
layout: base
---

{% include header.html type="page" %}

<p id="pdf-load-status">Loading Pages ...</p>
<input type="hidden" id="pdf-name" value="/assets/resume/PublicResume.pdf" />
<div class="container-md" role="main" id="pdf-canvas">
  <iframe srcdoc="<p>Loading PDF ...</p>" id="pdf-frame">
  </iframe>
</div>

<script type="text/javascript">
  //Need inline script to avoid Cross Origin
  function setSrc(url)
  {
      var ele = document.getElementById("pdf-frame");
      ele.src = url;
      ele.style.width = '900px';
      ele.style.height = '900px';
      ele.style.cursor = 'hand';
      ele.innerHTML = `Pdf plugin unsupported for this browser click <a href='${url}'>here</a> to see the PDF.`;    
  }

  function setSrcDoc(data)
  {
      var ele = document.getElementById("pdf-frame");
      ele.srcdoc = data;
      ele.style.width = '900px';
      ele.style.height = '900px';
      ele.style.cursor = 'hand';        
  }

  function checkIfLoaded()
  {
      var ele = document.getElementById("pdf-frame");
      return ele.srcdoc !== "<p>Loading PDF ...</p>";
  }

  function progress_update_callback()
  {
      var cnt = 0;
      return function(e){
          setSrcDoc("<p>Loading PDF " + ".".repeat(cnt%53) +"</p>");
          cnt += 1;
      };
  }

  function get_post_ajax(onSuccessCallback, onEmptyCallback, progressCallback, url)
  {
      var xhttp = new XMLHttpRequest();
      xhttp.onprogress = progressCallback;
      xhttp.addEventListener("load", onEmptyCallback, false);
      xhttp.addEventListener("error", onEmptyCallback, false);
      xhttp.addEventListener("abort", onEmptyCallback, false);	  	
      xhttp.onreadystatechange = function()
      {
          if (xhttp.readyState == 4 && xhttp.status == 200)
          {
              onSuccessCallback(xhttp.responseText);
          }
          else if(xhttp.readyState == 4 && xhttp.status == 204)
          {
              onEmptyCallback(xhttp.responseText);
          }
      };
      xhttp.open("GET", url, true);
      xhttp.send();
  }

  function getPos(ele) 
  {
      for (var lx=0, ly=0;
          ele != null;
          lx += ele.offsetLeft, 
          ly += ele.offsetTop, 
          ele = ele.offsetParent);
      return {offsetLeft: lx, offsetTop: ly};
  }

  //not used
  function loadGooglePdfViewer(relUrl, maxRetryCount)
  {
      if(checkIfLoaded())
      {
          return;
      }
      var assetUrl = `https://amit9oct.github.io${relUrl}`;
      var googleUrl = `https://docs.google.com/gview?embedded=true&url=${assetUrl}`;
      var successCallback = function(response)
      {
          setSrcDoc(response);
      };
      var emptyCallback = function(response) 
      {
          if(maxRetryCount >= 1) 
          {
              setTimeout(function() {console.log(maxRetryCount)}, 500);
              loadGooglePdfViewer(relUrl, maxRetryCount - 1);
          }
          else
          {
              setSrc(relUrl);
          }
      };
      get_post_ajax(successCallback, emptyCallback, progress_update_callback(), googleUrl);
  }

  var pdfName = document.getElementById('pdf-name'); 
  if (pdfName) 
  { 
      var relUrl = pdfName.value;
      var fullUrl = `https://amit9oct.github.io${relUrl}`;
      loadGooglePdfViewer(relUrl, 5);   
  }
</script>
